<!-- views/partials/header.ejs -->
 
<nav class="navbar navbar-default" role="navigation" style="border: 1px solid grey">
  <div class="container-fluid">
  
      <div class="navbar-header">
          <a class="navbar-brand" href="/">
              <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
              Tiny App
          </a>
  
          <ul class="nav navbar-nav">
              <li style="border-right: 1px solid white; border-left: 1px solid grey;"><a href="/">Home</a></li>
              <li style="border-right: 1px solid white; border-left: 1px solid grey;"><a href="/urls">Urls</a></li>
              <li style="border-right: 1px solid white; border-left: 1px solid grey;"><a href="/urls/new">New URL</a></li>
               
 
              <% if(!user.id ){ %>
                
                <li><a href="/login">Login</a></li>
              <% } else{ %>
                <li style="border-right: 1px solid white; border-left: 1px solid grey;"><a href="/urls/new" style="margin-left:30px; cursor: auto;"><%= user.email %></a></li>
                <li ><a href="/logout">Logout</a> </li>
              <% } %>
              
          </ul>
 
 
        
           
      </div>
  
  </div>
 
  </nav>
 