<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  
      <div class="navbar-header">
          <a class="navbar-brand" href="#">
              <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
              Tiny App
          </a>
  
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/urls">urls</a></li>
              <li><a href="/urls/new">new</a></li>
              
 
              <% if(!user.id ){ %>
                <li><a href="/login">login</a></li>
              <% } else{ %>
                <li><a href="/logout"><%= user.id %><span style="margin-left: 2px;">logout</span> </a></li>
              <% } %>
              <!-- <li style="margin-left:200px;"><a href="#"> 
                    <% if(user === {} || !user){ %>
                        <form method="POST" action="/login" style="display:flex;">
                            <input name="email" id="email" placeholder="enter your email" class="form-control" required/>
                            <input name="password" id="password" placeholder="enter your password" class="form-control" required/>
                            <input type="submit" value="login" class="btn btn-default" style="margin-left:3px;"/> 
                        </form>            
                      <% } else{ %>
                        <form method="POST" action="/logout" style="display:flex;">
                            <%= user['id'] %>
                            <input type="submit" value="logout" class="btn btn-default" style="margin-left: 5px; line-height: 0.6;"/> 
                        </form>   
                         
                      <% } %>
                  </a>
              </li> -->
          </ul>
 
 
        
           
      </div>
  
  </div>
 
  </nav>
 