<!DOCTYPE html>
<html lang="en">

<head>
  <title>URLS-TinyApp</title>

  <head>
    <% include ./partials/head %>
    <style>
      .form-item{
        margin: 2px;
      }
      .form-button {
        border-radius: 15%;
        background: grey;
        color: white;
      }
    </style>
  </head>
</head>

<body class="container">
  <!-- Add your EJS code here -->
  <header>
    <% include ./partials/_header %>
  </header>
  <main>
      <div class="jumbotron"> 
          <form method="POST" action="/logout" >
            <!-- <%= user['id'] %> -->
            <p>Click the button to logout</p> 
            <input type="submit" value="logout" class="btn btn-warning" /> 
        </form> 
      </div>
</main>
<footer>
    <% include ./partials/footer %>
</footer>
</body>

</html>