<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
  <title>New URL</title>
</head>

<body class="container" style=" padding:50px;">
  <header><% include partials/_header %></header>
  <main>
      <div class="jumbotron"> 
   
    <form action="/urls/new" method="POST" style="margin:150px; display: flex; align-items: center;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" value="http://" style="width: 300px; line-height: 2;">
      <button type="submit" value="Submit" class="btn btn-default">Submit</button>
    </form>
    </div>
  </main>
  <footer>
      <% include ./partials/footer %>
  </footer>   
</body>

</html>