<html lang="en">

<head>
    <% include ./partials/head %>
    <style>
            .form-item{
              margin: 2px;
            }
            .form-button {
              border-radius: 10%;
              background: aqua;
            }
            .form-input{
                width: 300px;
            }
          </style>
</head>

<body class="container">
    <header>
        <% include ./partials/_header %>
    </header>
    <h2>ShortURL: <%= shortURL %></h2>
    <form method="POST" action="/urls/<%= shortURL %>/put">
        <input value="<%= longURL %>" name="longURL"class="form-input"/>
        <button type="submit" value="Update" name="id" class="btn btn-default">Update</button>
    </form>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>

</html>