<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/_header %>
</header>
 
 
<main>
    <div class="jumbotron">
        <h1>This is tiny app</h1>
        <p>Welcome to tiny app</p>
    </div>
</main>

 

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>